<div class="content" style="max-width:70%">
<h1>WHO AM I?</h1>
<p>
My name is David Simonson and I am a full stack developer with a passion for design.
 I specialize in using Ruby on Rails and JavaScript to build dynamic and responsive 
 web applications that deliver exceptional user experiences.
</p>
<p>
I began my journey as a developer with a curiosity and passion for technology,
 and I have been honing my skills ever since. Over the years, I have gained extensive
  experience in developing applications from scratch, managing databases, and working with legacy software.
</p>
<p>
One of my greatest strengths as a developer is my ability to understand and empathize with users.
 I am always thinking about how my work can improve their experience and make their lives easier.
  I am constantly learning and staying up-to-date with the latest technologies, frameworks, and
   trends in design to ensure that I am always creating the most innovative and effective solutions.
</p>
<p>
When I am not working on code, I enjoy pursuing my other passion: design. I believe 
that good design is essential to creating successful products and experiences, 
and I strive to incorporate design principles into all aspects of my work. 
Whether it's choosing the right color scheme, selecting the perfect font, or 
designing intuitive user interfaces, I am always looking for ways to make my work look and feel beautiful.
</p>
</div>