<div class="home-grid content">
<div class="hero" style="display:flex;">
<div>
<h1>FULL STACK DEVELOPER &</h1>
<h1>GRAPHIC DESIGNER &</h1>
<h1>THINKER & ...</h1>
<p>
Designing and building are my passions. Obsessing over finding solutions is my weakness. Empathy is my strength and the <b>All Mighty Allah is my witness.</b>
</p>
<h2>Ruby & Rails & JavaScript & React & JSON & Databases & ...</h2>
</div>
<%= image_tag("selfie.png", class:"text-right selfie") %>
</div>
<div>
<p class="home-paragraph">
<h1>Testimonials:</h1>
"David was very attentive to what we were needing and was able to focus on getting things over the line on this Rails upgrade.
 Working on legacy code isn't always fun but I really appreciate the professional way he went about focusing on the task at hand and helping us. Thanks!"
 <br><b>- Upwork Customer</b>
</p>
<%= link_to "HIRE ME ON UPWORK", "https://www.upwork.com/freelancers/davids87", class: "link-button" %>
</div>
</div>
