<div class="container">
  <h1 class="text-center">Admin Portal</h1>
  <h2><%= link_to "New Item", new_item_path %></h2>
    <ul>
      <% @items.each do |item| %>
      
        <li><%= link_to item.title, portal_item_path(item) %> |
        <%= item.description.to_plain_text.truncate(25) %> |
        <%= item.admin.email %>
        </li>
      <% end %>
    </ul>
</div>