<h1>Items</h1>
<%= link_to "Log out", destroy_admin_session_path, :method => :destroy  %>
<ul>
  <% @items.each do |item| %>
    <li>
      <h1>
      <%= link_to item.title, item %>
      </h1>
        <%= item.description %>
  </li>
  <% end %>
</ul>