<div id="main">
<ul>
  <% @items.each do |item| %>
    <li class="itemlink">
      <%= link_to_unless_current item.title, item %>
    </li>
  <% end %>
</ul>
<div id="itemwrapper">
<%= @item.description.body %>
<h1><%= @item.title %></h1>
<% @item.categories.each do |category| %>
<%= link_to category.name, category_path(category.friendly_id) %>
<% end %>
</p>
</div>
</div>