svg{
    padding: 2px;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 9;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-weight: bold;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #4500FF;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 125px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: white;
  }

}

// @import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);


// $cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
// $mukta: 'Ek Mukta', sans-serif;;

// $menuItems: 7;



//     .header {
//         position: absolute;
//         display: block;
//         top: 0;
//         left: 0;
//         height: 50px;
//         width: 100%;
//         background: rgba(#4500FF,0);
//         overflow: hidden;
//         transition: all 0.5s ease-out, background 1s ease-out;
//         transition-delay: 0.2s;
//         z-index: 1;
//         .burger-container {
//             position: relative;
//             display: inline-block;
//             height: 50px;
//             width: 50px;
//             cursor: pointer;
//             transform: rotate(0deg);
//             transition: all 0.3s $cubic;
//             user-select: none;
//             -webkit-tap-highlight-color: transparent;
//             #burger {
//                 width: 18px;
//                 height: 8px;
//                 position: relative;
//                 display: block;
//                 margin: -4px auto 0;
//                 top: 50%;
//                 .bar {
//                     width: 100%;
//                     height: 2px;
//                     display: block;
//                     position: relative;
//                     background: #4500FF;
//                     transition: all 0.3s $cubic;
//                     transition-delay: 0s;
//                     &.topBar {
//                         transform: translateY(0px) rotate(0deg);
//                     }
//                     &.btmBar {
//                         transform: translateY(6px) rotate(0deg);
//                     }
//                 }
//             }
//         }
//         ul.menu {
//             position: relative;
//             display: block;
//             padding: 0px 48px 0;
//             list-style: none;
//             li.menu-item {
//                 border-bottom: 1px solid #4500FF;
//                 margin-top: 5px;
//                 transform: scale(1.15) translateY(-30px);
//                 opacity: 0;
//                 transition: transform 0.5s $cubic, opacity 0.6s $cubic;
//                 @for $i from 1 through $menuItems {
//                     &:nth-child(#{$i}) {
//                         transition-delay: #{0.56 - ($i * 0.07)}s;
//                     }
//                 }
//                 a {
//                     display: block;
//                     position: relative;
//                     color: #FFF;
//                     font-family: $mukta;
//                     font-weight: 100;
//                     text-decoration: none;
//                     font-size: 22px;
//                     line-height: 2.35;
//                     font-weight: 200;
//                     width: 100%;
//                 }
//             }
//         }
//         &.menu-opened {
//             height: 100%;
//             background-color: #4500FF; 
//             transition: all 0.3s ease-in, background 0.5s ease-in;
//             transition-delay: 0.25s;
//             .burger-container {
//                 transform: rotate(90deg);
//                 #burger {
//                     .bar {
//                         transition: all 0.4s $cubic;
//                         transition-delay: 0.2s;
//                         background: white;
//                         &.topBar {
//                             transform: translateY(4px) rotate(45deg);
//                         }
//                         &.btmBar {
//                             transform: translateY(3px) rotate(-45deg);
//                         }
//                     }
//                 }
//             }
//             ul.menu {
//                 li.menu-item {
//                     transform: scale(1) translateY(0px);
//                     opacity: 1;
//                     @for $i from 1 through $menuItems {
//                         &:nth-child(#{$i}) {
//                             transition-delay: #{0.07 * $i+0.2}s;
//                         }
//                     }
//                 }
//             }
//         }
//     }