<% if current_page?(category_path || item_path) %>
<div class="catlinks">
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category %>
    </li>
  <% end %>
</ul>
</div>
<% end %>